@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  --background: #0891b2;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
/* APP */
.App {
  width: 100%;
  min-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
img {
  min-width: 100px;
  max-width: 200px;
  width: minmax(100px, 200px);
  height: auto;
}
/* PERSONAL */
#container {
  width: 100%;
}
#head {
  position: relative;
  display: flex;
  min-width: 900px;
}
#personal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15%;
  margin: 0 auto;
  left: 0;
  right: 0;
}
#my-pic {
  min-width: 325px;
  box-shadow: 2px 2px 5px #62616146;
}
h3 {
  font-weight: 400;
}
#header #social {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 15px;
}
#header #social i {
  font-size: 20px;
}
#about-me p {
  font-size: 15px;
}
.heading {
  align-self: flex-start;
  margin-left: 300px;
}
/* PROJECT */
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  min-width: 300px;
  box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.273);
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
i {
  width: 100%;
}
.proj-img {
  margin: 30px 0 20px 0;
  min-width: 300px;
}
.description {
  font-size: 12px;
  padding: 15px;
}
/* LINKS */
.links {
  display: flex;
  gap: 5%;
  align-items: center;
}
.links i {
  font-size: 20px;
}
button {
  min-height: 40px;
  min-width: 100px;
  border-radius: 20px;
  border: none;
}
#social i {
  font-size: 30px;
}
.icon {
  cursor: pointer;
}
.social-med {
  height: 10%;
}
/* a {
  text-decoration: none;
  color: black;
} */
p {
  margin: 0;
}
#email,
#phone {
  display: flex;
  gap: 10px;
  margin: 5px;
}
.bold {
  font-weight: 400;
}
@media (max-width: 620px) {
  .heading {
    margin-left: 150px;
  }
  .projects {
    display: flex;
    flex-direction: column !important;
  }
  .project {
    max-width: 400px;
  }
}
